<!DOCTYPE HTML>
<html>
	<style>
		.title {
			position: absolute;
			left: 40%;
			color: black;
			top: 5%;
		}
		.box {
			position: absolute;
			left: 40%;
			top: 40%;
		}
	</style>
	<head>
		<link rel="stylesheet" type="text/css" href="views/addOns/timePickerCSS.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	 	<script type="text/javascript" src="views/addOns/timePicker.js"></script>
		<h1 class="title">Things to do API</h1>
	</head>
	<body>
		<form class="box" id="main">
			<input type="text" name="location" placeholder="Location">
			<select name="catagories">
				<option selected="selected" disabled="disabled">Select a catagory</option>
  			<option value="cat4">cat4</option>
  			<option value="cat3">cat3</option>
  			<option value="cat2">cat2</option>
  			<option value="cat">cat1</option>
			</select>
			<input type="submit">
		</form>
	</body>
</html>
